{% extends 'JCSf2TemplatesBundle::layout.html.twig' %}

{% block container %}

    <h1>Comentario creation</h1>

    <form action="{{ path('jazzyweb_chismorreos_addcomment', {post: idPost}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('jazzyweb_chismorreos_postlist') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
