{% extends 'JCSf2TemplatesBundle::layout.html.twig' %}

{% block container %}

    <h1>Post list</h1>

    
        
    <ul> 
        {% for entity in entities %}
            <li>{{ entity.texto }}</li>                
                <ul>
                    {% for comentario in entity.comentarios %}
                    <li>{{ comentario.texto }}</li>
                    {% endfor %}

                    <li><a href="{{ path('jazzyweb_chismorreos_addcomment', { post: entity.id }) }}">Añadir Comentario</a></li>
                </ul>                
        {% endfor %}
        
    </ul>

        <ul>
        <li>
            <a href="{{ path('post_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
