{% extends 'JCSf2TemplatesBundle::layout.html.twig' %}

{% block container %}

<h1>Artículos</h1>

<table class="table">
{% for articulo in articulos%}
        <tr>
            <td>{{ articulo.titulo }}</td>
              
            <td>{{ articulo.categoria }}</td>
        </tr>
{% endfor %}
</table>


{% endblock %}
