
<!DOCTYPE html>
<html lang="en">
  <head>    
    {% block title %} 
    <title>Curso Sf2</title> 
    {% endblock %}
        
    {% block meta%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% endblock %}

    {% block styles %}
    <!-- CSS -->
    <link href="{{ asset('bundles/jcsf2templates/bootstrap/css/bootstrap.css') }}" rel="stylesheet">     
    <style type="text/css">
      #wrap > .container {
        padding-top: 75px;
      }
      .container .credit {
        margin: 20px 0;
      }

      code {
        font-size: 80%;
      }
    </style>
    <link href="{{ asset('bundles/jcsf2templates/bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.png">
    {% endblock %}
  </head>

  
  <body>
    {% block body %}{% endblock %}
          
    {% block javascripts %}    
    <script src="{{ asset('bundles/jcsf2templates/bootstrap/js/jquery.js') }}"></script>   
    <script src="{{ asset('bundles/jcsf2templates/bootstrap/js/bootstrap.js') }}"></script>    
    {% endblock %}
  </body>
   
</html>
