{% extends 'JCSf2TemplatesBundle::layout.html.twig' %}

{% block container %}
<h1>Ejemplo de formulario</h1>

<form action="#" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>
{% endblock %}
