{% extends 'JCSf2TemplatesBundle::layout.html.twig' %}

{% block container %}
<h1>Formularios</h1>

<p>
<ul>
    <li><a href="{{ path('jc_sf2_valy_forms_validacion') }}">Formularios en funcionamiento</a></li>
</ul>
</p>
<a href="http://symfony.com/doc/current/book/forms.html#book-forms-type-reference">forms types</a>
{% endblock %}
