<html>
    <head></head>
    <body>
        Hola,

        <b>CursoSf2</b> le invita a la proyeccción de la película:

<i>{{ film.title }}</i>

{{ film.description }}


        Un saludo!
    </body>
</html>