{% extends 'JCSf2TemplatesBundle::layout.html.twig' %}

{% block container %}

<p class="alert">El actor {{ actor.nombre }} {{ actor.apellidos }} ha sido persistido en la base de datos</p>

{% endblock %}

