{% extends 'JCSf2TemplatesBundle::layout.html.twig' %}

{% block container %}

<div class="alert alert-block">  
  <h4>Enhorabuena</h4>
  Le ha sido enviada a la dirección {{ to }} una invitación para ver una peli.
</div>

{% endblock %}


