{% extends 'JCSf2TemplatesBundle::layout.html.twig' %}

{% block container %}
<h1>Ejemplo de servicio básico</h1>

<p>
    Este ejemplo muestra los aspectos básicos del registro de una clase como
    servicio instanciable a través del contenedor de dependencias de Symfony2
    (DIC)
</p>

<div class="well">
    <p>
        Este mensaje ha sido generado a partir de un servicio sencillo.

        <span class="label label-success">{{ mensaje }}</span>
    </p>
</div>

{% endblock %}
