{% extends 'JCSf2TemplatesBundle::layout.html.twig' %}

{% block container %}

    <h1>Los Validadores en funcionamiento</h1>
    <div class="well">

        <h3>Objeto $e1:</h3>
        {%  include 'JCSf2ValyFormsBundle:Validacion:entidadEclectica.html.twig' with {'entidad': e1} %}

        <h3>Validación $e1:</h3>
        {% if e1_errors|length > 0 %}
            {% for error in e1_errors %}
                <div class="alert alert-error">
                    {{ error.message }}
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-success">
                Objeto <code>$e1</code> OK!
            </div>
        {% endif %}
    </div>

    <div class="well">

        <h3>Objeto $e2:</h3>
        {%  include 'JCSf2ValyFormsBundle:Validacion:entidadEclectica.html.twig' with {'entidad': e2} %}

        <h3>Validación $e2:</h3>
        {% if e2_errors|length > 0 %}
            {% for error in e2_errors %}
                <div class="alert alert-error">
                    {{ error.message }}
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-success">
                Objeto <code>$e2</code> OK!
            </div>
        {% endif %}
    </div>

    <div class="well">

        <h3>Objeto $e3</h3>
        {%  include 'JCSf2ValyFormsBundle:Validacion:entidadEclectica.html.twig' with {'entidad': e3} %}

        <h3>Validación $e3:</h3>
        {% if e3_errors|length > 0 %}
            {% for error in e3_errors %}
                <div class="alert alert-error">
                    {{ error.message }}
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-success">
                Objeto <code>$e3</code> OK!
            </div>
        {% endif %}
    </div>

{% endblock %}