<p>
    Hola
    {% if app.user.username is defined %}
        {{ app.user.username }}
    {% else %}
        Invitado
    {% endif %}
</p>

<p>
    <a href="{{ path('jc_sf2_seguridad_logout') }}">Desconectar</a>
</p>