{% extends 'JCSf2TemplatesBundle::layout.html.twig' %}

{% block container %}

<p>
    Hola {{ app.user.username }}
</p>

<p>
    <a href="{{ path('jc_sf2_seguridad_logout') }}">Desconectar</a>
</p>

<h1>Zona de Redacción</h1>

<p>
    Sólo para redactores.
</p>
{% endblock %}
