{% extends 'JCSf2TemplatesBundle::layout.html.twig' %}

{% block container %}
    {% include 'JCSf2SeguridadBundle:Default:profile.html.twig' %}

<h1>Zona de Redacción</h1>

<p>
    Sólo para redactores.
</p>
{% endblock %}
