{% extends 'JCSf2TemplatesBundle::layout.html.twig' %}

{% block container %}

<h1>Top Secret</h1>

<p>
    Información protegida!
</p>

<p>
    <a href="{{ path('jc_sf2_seguridad_logout') }}">Desconectar</a>
</p>
{% endblock %}
